@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #ABABB7;
  margin: 0;
}

header{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

footer {
  position: relative;
  width: 80%;
  text-align: left;
}

footer p {
  font-size: .8rem;
  margin: .25;
}

main{
  margin: 0 auto;
  padding: 0;
  width: 100%
}

.graphic{
  width: 75%;
  max-width: 900px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0;
}

/* .static{
  background-color: white;
} */

.graphic h3{
text-align: center;
}

/* div svg{
  margin: 0 auto;
} */

.text-block{
  width: 70%;
  margin: auto;
  min-width: 375px;
  max-width: 800px;
}

img{
  margin-left: 0;
  margin-right: 0;
}

h1{
  font-family: 'Titillium Web', sans-serif;
  /* text-align: center; */
  font-size: 2.5rem;
}

h2{
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  /* text-align: center; */
  margin-bottom: 0;
}

h3{
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  /* text-align: center; */
}


p, label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

a {
  color: rgb(73, 76, 91);
}

a:hover{
  color: white;
}

#intro{
  font-size: 1.5rem;
}

p.label{
  font-size: 1rem;
}

#week-tooltip {
  text-align: center;
}

#bar-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


#barWrapper.hidden{
  display: none;
}

#state-dot-tooltip.hidden{
  display: none;
}

#bar-tooltip.hidden{
  display: none;
}

#week-tooltip-text.hidden{
  display: none;
}

#bar-tooltip p{
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#play-button {
  position: relative;
  top: 35px;
  left: 10px;
  padding-right: 26px;
  padding-left: 0px;
  border-radius: 3px;
  border: none;
  color: black;
  margin: 0 auto;
  padding: 0 12px;
  width: 50px;
  cursor: pointer;
  height: 30px;
  align-content: center;
}

#main-chart-bounds rect:hover{
  fill: white;
}

.hidden{
  display: none;
}

#trace-line-wrapper{
  position: absolute;
  stroke: black;
}

#trace-line{
  opacity: 0;
}

.parameter-value text{
  font-size: 1rem;
}

#map-wrapper{
  position: relative;
}

#map-wrapper svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#full-bar-wrapper {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

#full-bar-wrapper svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bar-tooltip {
  position: absolute;
}

#state-dot-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#state-dotplot{
  position: relative;
}

#dotBounds  circle:hover {
  fill: white;
  opacity: 1;
}

#state-name {
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;

}

#top-protest-topic-one {
  background-color: rgb(20, 67, 127);
  color: white;
  padding-left: 4px;
  padding-right: 4px;

}

#top-protest-topic-two {
  background-color: rgb(243, 227, 211);
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}


#bottom-protest-topic-one {
  background-color: rgb(157, 106, 118);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

#bottom-protest-topic-two {
  background-color: rgb(73, 49, 118);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

#const-map-wrapper{
  position: relative;
  z-index: 1;
}

#const-map-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#const-map-tooltip p{
  marginL 0;
}

#const-map-tooltip.hidden{
  display: none;
}

#const-map-tooltip p{
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#const-map-wrapper circle:hover{
  fill: lightgray;
}

#constellation-section{
  display: grid;
  grid-template-rows: 450px;
  grid-column-gap: 20px;
}


#constellation-selector{
  text-align: center;
}

#constellation-selector p{
  margin: 5px;
  text-align: center;
}

#const-button-row-1{
  margin-bottom: 10px;
}

#constellation-selector .const-button:hover{
  background-color: black;
  color: white;
}

#constellation-selector .const-button:active {
  background-color: gray;
}


#constellation-visual{
  text-align: center;
}

.const-button{
  box-shadow: 4px 2px 1px gray;
  border-radius: 4px;
  border: none;
  padding: 5px;
  background-position: center;
  font-size:.8rem;
  margin-left: 5px;
  margin-right: 5px;
}

/*
#police{
  background-image: url(icons/police-icon.svg);
  /* line-height: 100px; */
}
/*
#education{
  background-image: url(/icons/education-icon.svg);
}

#collective_bargaining{
  background-image: url(/icons/collective_bargaining-icon.svg);
}

#environment{
  background-image: url(/icons/environment-icon.svg);
}

#executive{
  background-image: url(/icons/executive-icon.svg);
}

#guns{
  background-image: url(/icons/guns-icon.svg);
}

#healthcare{
  background-image: url(/icons/healthcare-icon.svg);
}

#immigration{
  background-image: url(/icons/immigration-icon.svg);
}

#race_confed{
  background-image: url(/icons/race_confed-icon.svg);
}

#supreme_court{
  background-image: url(/icons/supreme_court-icon.svg);
}

#women{
  background-image: url(/icons/women-icon.svg);
} */


div.const-button{
  /* margin: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  font-size: .7rem;
  position: inline;
}

div.const-button img{
  margin-bottom: 5px;
  width: 90%;
}

.const-button{
  text-align: center;
  color: white;
}

.const-button:hover{
  background-color: black;
  color: white;
}

#constellation-topic{
  padding-left: 4px;
  padding-right: 4px;
}

#methods{
  background-color: white;
  opacity: .5;
  padding: 1rem;
}

#methods h2{
  font-size: 1.3rem;
  padding-top: 0;
  opacity: 1;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
}

#methods h3{
  font-size: 1rem;
  opacity: 1;
}

#methods p{
  font-size: .8rem;
  opacity: 1;
}

#dotWrapper text {
  font-size: .8rem;
}


#stream-bar-topic{
  background-color: rgb(5, 69, 81);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

#stream-or-bar {
  text-align: center;
  border-radius: 4px;

}

#stream-or-bar button {
  border: 1px solid black;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  /* float: left; */
  font-size: 1rem;
}

#stream-or-bar button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#bar-y-axis line, #bar-x-axis path{
  stroke: white;
  color: white
}

#bar-x-axis line, #bar-x-axis path{
  stroke: white;
  color: white
}

#bar-y-axis, #bar-x-axis text{
  color: white;
  font-size: .8rem;
}

#stream-all{
  border-radius: 10px 0px 0px 10px;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  background-color: rgb(113, 118, 137);

}

#stream-topic{
  border-radius: 0px 10px 10px 0px;
  background-color: #ABABB7;
}

.stream-button{
  box-shadow: 4px 2px 1px gray;
  border-radius: 4px;
  border: none;
  padding: 5px;
  background-position: center;
  font-size:.8rem;
  margin-left: 5px;
  margin-right: 5px;
}


.supreme_court {
  background-color: #9d6a76;
  color: white;
}

.women {
  background-color: rgb(5, 69, 81);
  color: white;
}

.police {
  background-color: rgb(86, 25, 74);
  color: white;
}

.education {
  background-color: rgb(3, 3, 4);
  color: white;
}

.executive {
  background-color: rgb(243, 227, 211);
  color: black;
}

.immigration {
  background-color: rgb(97, 135, 150);
  color: white;
}

.guns {
  background-color: rgb(20, 67, 127);
  color: white;
}

.race_confed {
  background-color: rgb(124, 105, 164);
  color: white;
}

.collective_bargaining {
  background-color: rgb(15, 41, 90);
  color: white;
}

.environment {
  background-color: rgb(25, 101, 91);
  color: white;
}

.healthcare {
  background-color: rgb(73, 49, 118);
  color: white;
}

.other {
  background-color: rgb(113, 118, 137);
  color: white;
}

#stream-legend{
  text-align: center;
}

#stream-legend p{
  margin: 5px;
  text-align: center;
}

#stream-legend-row-1{
  margin-bottom: 10px;
}

#stream-legend .stream-button:hover{
  background-color: black;
  color: white;
}

#stream-legend .stream-button:active {
  background-color: gray;
}

#streamgraph h2{
  text-align: left;
}
