@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #ABABB7;
  margin: 0;
}


header{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

footer {
  position: relative;
  width: 80%;
  text-align: left;
}

footer p {
  font-size: .8rem;
  margin: .25;
}

main{
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}

img{
  max-width: 50rem;
  margin-left: 0;
  margin-right: 0;
}

h1{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 2.5rem;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#intro{
  font-size: 1.5rem;
}

p.label{
  font-size: 1rem;
}

#week-tooltip {
  text-align: center;
}

#bar-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


#barWrapper.hidden{
  display: none;
}

#bar-tooltip.hidden{
  display: none;
}

#week-tooltip-text.hidden{
  display: none;
}

#bar-tooltip p{
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#play-button {
  position: relative;
  top: 35px;
  left: 30px;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: black;
  margin: 0;
  padding: 0 12px;
  width: 50px;
  cursor: pointer;
  height: 30px;
  align-content: center;
}

#main-chart-bounds rect:hover{
  fill: white;
}

.hidden{
  display: none;
}

#trace-line-wrapper{
  position: absolute;
  stroke: black;
}

#trace-line{
  opacity: 0;
}

.parameter-value text{
  font-size: 1rem;
}

#map-wrapper svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 2px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#dotBounds  circle:hover {
  fill: white;
  opacity: 1;
}

#state-name {
  background-color: white;
}

#top-protest-topic-one {
  background-color: rgb(107, 69, 152);
  color: white;
}

#top-protest-topic-two {
  background-color: rgb(184, 195, 226);
  color: black;
}


#bottom-protest-topic-one {
  background-color: rgb(35, 77, 78);
  color: white;
}

#bottom-protest-topic-two {
  background-color: rgb(173, 96, 162);
  color: white;
}

#const-map-wrapper{
  /* position: absolute; */
  padding-bottom: 100px;
}

#const-map-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#const-map-tooltip p{
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#methods{
  background-color: white;
  padding: 1rem;
}

#methods h2{
  font-size: 1.5rem;
  padding-top: 0;
}

#methods h3{
  font-size: 1rem;
}

#methods p{
  font-size: .8rem;
}
