@font-face {
    font-family: 'Inter var';
    src: url('./../../../Inter.var.woff2');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    background-color: gray;
}

/* .wrapper {
    position: relative;
    background-color: gray;
} */

#trace-line-wrapper{
  position: absolute;
  stroke: black;
}

#trace-line{
  opacity: 0;
}

/* #trace-line.hidden{
  display: none;
} */

#wrapper{
  margin-top: 0;
}

.sphere{
  background-color: gray;
}


#week-tooltip {
  text-align: center;
}

#bar-tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0,  0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#bar-tooltip.hidden{
  display: none;
}

#week-tooltip-text.hidden{
  display: none;
}

#bar-tooltip p{
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#play-button {
  position: relative;
  top: 35px;
  left: 30px;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: black;
  margin: 0;
  padding: 0 12px;
  width: 50px;
  cursor: pointer;
  height: 30px;
  align-content: center;
}

rect:hover{
  fill: white;
}


.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.label{
  font-size: 1rem;
}

.parameter-value text{
  font-size: .8rem;
}
